{% extends 'admin.html' %}

{% block title %}Accounts{% endblock %}

{% block adm_menu %}

<a class="btn" href="{{ url_for('admin.adm_interface')}}" role="button" id="home">Admin Home</a>
<a class="btn" href="{{ url_for('admin.adm_accounts', op='add') }}" role="button" id="addacct">Add Account</a>
<a class="btn" href="{{ url_for('admin.adm_accounts', op='addtype') }}" role="button" id="addaccttype">Add Account
    Type</a>

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %} -->

{% endblock %}

{% block adm_content_col1 %}
<h3>All Accounts</h3>
<br>

<table class="table table-sm table-striped" id="account">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Account Type</th>
            <th scope="col">Balance</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.acct_type.name }}</td>
            <td>{{ account.balance }}</td>
            <td>
                <a href="{{ url_for('admin.adm_accounts', op='remove', id=account.id) }}" id="rmacct"><i
                        class="fas fa-trash-alt"></i></a>
                <a href="{{ url_for('admin.adm_accounts', op='edit', id=account.id) }}" id="editacct"><i
                        class="fas fa-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block adm_content_col2 %}
<h3>All Accounts Types</h3>
<br>
<table class="table table-sm table-striped" id="accountType">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Account Type</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for type in account_types %}
        <tr>
            <td>{{ type.name }}</td>
            <td>
                <a href="{{ url_for('admin.adm_accounts', op='removetype', id=type.id) }}" id="rmaccttype"><i
                        class="fas fa-trash-alt"></i></a>
                <a href="{{ url_for('admin.adm_accounts', op='edittype', id=type.id) }}" id="editaccttype"><i
                        class="fas fa-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}