{% extends 'admin.html' %}

{% block title %}Accounts{% endblock %}

{% block adm_menu %}
<a class="btn btn-primary btn-sm" href="{{ url_for('views.index')}}" role="button" id="home">Home</a>
<a class="btn btn-primary btn-sm" href="{{ url_for('admin.adm_accounts', op='add') }}" role="butt on" id="addacct">Add Account</a>
<a class="btn btn-primary btn-sm" href="{{ url_for('admin.adm_accounts', op='addtype') }}" role="button" id="addaccttype">Add Account Type</a>
{% endblock %}

{% block adm_content %}
<h3>All Accounts</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    <table class="table display" id="table-accounts">
        <thead>
            <tr>
                <th scope="col">Account Name</th>
                <th scope="col">Account Type</th>
                <th scope="col">Balance</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.acct_type.name }}</td>
                <td>{{ account.balance }}</td>
                <td>
                    <a href="{{ url_for('admin.adm_accounts', op='remove', id=account.id) }}" id="rmacct"><i class="far fa-trash-alt"></i></a>
                    <a href="{{ url_for('admin.adm_accounts', op='edit', id=account.id) }}" id="editacct"><i class="far fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <h3>All Accounts Types</h3>
</div>
<div class="row">
    <table class="table display" id="table-account-type">
        <thead>
            <tr>
                <th scope="col">Account Type</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for type in account_types %}
            <tr>
                <td>{{ type.name }}</td>
                <td>
                    <a href="{{ url_for('admin.adm_accounts', op='removetype', id=type.id) }}" id="rmaccttype"><i class="far fa-trash-alt"></i></a>
                    <a href="{{ url_for('admin.adm_accounts', op='edittype', id=type.id) }}" id="editaccttype"><i class="far fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}