{% extends 'admin.html' %}

{% block title %}Add Accounts{% endblock %}

{% block adm_content %}
<h3>Add New Account</h3>

<form method="POST" action="{{ url_for('admin.adm_accounts', op='add') }}">
    <div class="form-group">
        <div class="form-group">
            {{ form.account_name.label }}
            {{ form.account_name }}
        </div>
        <div class="form-group">
            {{ form.account_type.label }}
            {{ form.account_type }}
        </div>
        <div class="form-group">
            {{ form.initial_balance.label }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">€</span>
                </div>
                {{ form.initial_balance }}
            </div>
        </div>
        {{ form.submit }}
        <a class="btn btn-danger" href="{{ url_for('admin.adm_accounts') }}" role="button" id="canceladd">Cancel</a>
    </div>
</form>
{% endblock %}