{% extends 'admin.html' %}

{% block title %}Add Accounts{% endblock %}

{% block adm_menu %}
<a class="btn" href="{{ url_for('admin.adm_accounts')}}" role="button" id="home">Admin Accounts</a>
<a class="btn" href="{{ url_for('admin.adm_accounts', op='addtype') }}" role="button" id="addaccttype">Add Account Type</a>
{% endblock %}

{% block adm_content_col1 %}
<h3>Add New Account</h3>

<form method="POST" action="{{ url_for('admin.adm_accounts', op='add') }}">
    <div class="form-group">
        <div class="form-group">
            {{ form.account_name.label }}
            {{ form.account_name }}
        </div>
        <div class="form-group">
            {{ form.account_type.label }}
            {{ form.account_type }}
        </div>
        <div class="form-group">
            {{ form.initial_balance.label }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">€</span>
                </div>
                {{ form.initial_balance }}
            </div>
        </div>
        {{ form.submit }}
        <a class="btn btn-danger" href="{{ url_for('admin.adm_accounts') }}" role="button" id="canceladd">Cancel</a>
    </div>
</form>
{% endblock %}

{% block adm_content_col2 %}
<h3>All Accounts</h3>
<table class="table table-sm" id="account">
    <thead>
        <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Account Type</th>
            <th scope="col">Balance</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.acct_type.name }}</td>
            <td>{{ account.balance }}</td>
            <td>
                <a href="{{ url_for('admin.adm_accounts', op='remove', id=account.id) }}" id="rmacct"><i class="fas fa-trash-alt"></i></a>
                <a href="{{ url_for('admin.adm_accounts', op='edit', id=account.id) }}" id="editacct"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
