{% extends 'template.html' %}

{% block title %}Admin{% endblock %}

{% block body %}
<!-- <div class="container-fluid"> -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align:center">Admin Interface</h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align:center">
            {% block adm_menu %}
             <a class="btn btn-primary btn-sm" href="{{ url_for('views.index')}}" role="button" id="home">Home</a>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="btn-group-vertical">
                <a class="btn btn-primary disabled" href="#" role="button" aria-disabled="true" id="user">User</a>
                <a class="btn btn-primary" href="{{ url_for('admin.adm_accounts') }}" role="button" id="accounts">Accounts</a>
                <a class="btn btn-primary" href="{{ url_for('admin.adm_budgets') }}" role="button" id="bugets">Budgets</a>
                <a class="btn btn-primary" href="{{ url_for('admin.adm_categories') }}" role="button" id="categories">Categories</a>
            </div>
        </div>
        <div class="col">
            {% block adm_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock%}