{% extends 'admin.html' %}

{% block title %}Budgets{% endblock %}

{% block adm_content_main_col %}

<h3>All Budgets</h3>
<br>
<a class="btn" href="{{ url_for('admin.adm_budgets', op='addbudget') }}" role="button" id="addbudget">Add Budget</a>
<a class="btn" href="{{ url_for('admin.adm_interface')}}" role="button" id="home">Admin Home</a>
<table class="table table-sm table-striped" id="account">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Budget Name</th>
            <th scope="col">Budget Month</th>
            <th scope="col">Budget Year</th>
            <th scope="col">Budget Value</th>
            <th scope="col">Budget Balance</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for budget in budgets %}
        <tr>
            <td>{{ budget.name }}</td>
            <td>{{ budget.month }}</td>
            <td>{{ budget.year }}</td>
            <td>{{ budget.total }}</td>
            <td>{{ budget.balance }}</td>
            <td>
                <a href="{{ url_for('admin.adm_budgets', op='removebudget', id=budget.id) }}" id="rmbdgt"><i
                        class="fas fa-trash-alt"></i></a>
                <a href="{{ url_for('admin.adm_budgets', op='editbudget', id=budget.id) }}" id="editbdgt"><i
                        class="fas fa-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}