body {
    font-family: 'Lato', sans-serif;
}

.nav-link {
    color: #fff;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.absolute-center.is-responsive {
    width: 50%;
    height: 50%;
    max-width: 60%;
}

.icon-income {
    color: green;
}

.icon-expense {
    color: red;
}